<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AirMech Wiki</title>
    <link rel="icon" href="./images/Addons/mathew_icon.png" type="image">
    <link rel="stylesheet" href="../../styles/style.css" type="text/css">
    <link rel="stylesheet" href="../../styles/banner-styles.css" type="text/css">
</head>

<body>
<div id="banner">
  <table>
    <td id="selection"><img src="../../images/AirMech Logo/AirMechLogoOutline.png"> <a id="padding1">Wiki</a></td>
      <td id="space1"></td>
      <td id="selection2"><a href="../../index.html">Home</a></td>
      <td id="selection2"><a href="">Items</a></td>
      <td id="selection2"><a href="pilots.html">Pilots</a></td>
      <td id="selection2"><a href="balance.html">Balance</a></td>
      <td id="selection2"><a href="misc.html">Misc.</a></td>
      <td id="selection2"><a href="bonus.html">Bonus</a></td>
      <td id="space2"></td>
      <td id="carbons"> Assets from Carbon Games<sup>®</sup><br>
        Website made by Mathew </td>
  </table>
</div>
<div id="lineblock"> </div>
<!-- <div id="empty-path">
    
</div> -->
<div id="index-banner-1">
  <table id="list-items">
    <tr>
      <th> <a href="./items/none.html"><img src="../../assets/noflairicon.png"></a> </th>
      <td style="padding-left: 30px;"><a id="clear-a" href="./items/none.html">A. Testing item</a><br>
        <a id="clear-b">testB</a></td>
    </tr>
    <tr>
      <th> <a href="./items/none.html"><img src="../../assets/noflairicon.png"></a></th>
      <td style="padding-left: 30px;"><a id="clear-a" href="./items/none.html">A</a><br>
		  <a id="clear-b">testB</a></td>
    </tr>
	<tr>
      <th> <a href="./items/none.html"><img src="../../assets/noflairicon.png"></a></th>
      <td style="padding-left: 30px;"><a id="clear-a" href="./items/none.html">A</a><br>
        <a id="clear-b">testZ</a></td>
    </tr>
    <tr>
      <th> <a href="./items/none.html"><img src="../../assets/noflairicon.png"></a> </th>
      <td style="padding-left: 30px;"><a id="clear-a" href="./items/none.html">D</a><br>
        <a id="clear-b">test</a></td>
    </tr>
  </table>
</div>
<script type="text/javascript">
    // Add a script to automatically order the table by clear-a id alphabetically
    var table = document.getElementById("list-items");
    var tbody = table.getElementsByTagName("tbody")[0] || table.createTBody();
    var rows = tbody.getElementsByTagName("tr");
    var rowsArray = Array.from(rows);

    rowsArray.sort(function (a, b) {
        var contentA = a.querySelector("#clear-a").innerText.toLowerCase();
        var contentB = b.querySelector("#clear-a").innerText.toLowerCase();
        return contentA.localeCompare(contentB);
    });

    rowsArray.forEach(function (row) {
        tbody.appendChild(row);
    });
</script>
</body>
</html>