---
import Banner from '../../head.astro';
---
<html>
        <head>
          <meta charset="UTF-8">
          <title>AirMech Wiki</title>
          <link rel="icon" href="/images/Addons/mathew_icon.png" type="image">
          <link rel="stylesheet" href="/styles/style.css" type="text/css">
          <link rel="stylesheet" href="/styles/banner-styles.css" type="text/css">
      </head>

<body>
<div id='banner'>
        <Banner />

	</div>
<div id="lineblock"> </div>
<!-- <div id="empty-path">
    
</div> -->
<div id="index-banner-1">
  <table id="list-items">
    <!-- <tr>
      <th> <a href="../category/items/none"><img src="/assets/noflairicon.png"></a> </th>

      <td style="padding-left: 10px;"><a id="clear-a" href="../category/items/none">
        A. Testing item
      </a><br>
      <a id="clear-b">
        testB
      </a></td>
    </tr> -->

    <!-- ----------------------------------------------------------------------------------------------------------------- -->
     <tr>
      
      <th> <a href="../items/google2012"><img src="/assets/item-icons/googleioicon.png"></a> </th>

      <td style="padding-left: 10px;"><a id="clear-a" href="../items/google2012">
        Google I/O 2012
      </a><br>
      <a id="clear-b">
        Type: Pet
      </a><br>
      <a id="rarity">
        Ancient
      </a>
    </td>
    </tr>
    <!-- ----------------------------------------------------------------------------------------------------------------- -->
    <tr>
      
      <th> <a href="../items/google2013"><img src="/assets/item-icons/googleio13icon.png"></a> </th>

      <td style="padding-left: 10px;"><a id="clear-a" href="../items/google2013">
        Google I/O 2013
      </a><br>
      <a id="clear-b">
        Type: Pet
      </a><br>
      <a id="rarity">
        Ancient
      </a>
    </td>
    </tr>
    <!-- ----------------------------------------------------------------------------------------------------------------- -->

  </table>
</div>
<script type="text/javascript">
    // Add a script to automatically order the table by clear-a id alphabetically
    var table = document.getElementById("list-items");
    var tbody = table.getElementsByTagName("tbody")[0] || table.createTBody();
    var rows = tbody.getElementsByTagName("tr");
    var rowsArray = Array.from(rows);

    rowsArray.sort(function (a, b) {
        var contentA = a.querySelector("#clear-a").innerText.toLowerCase();
        var contentB = b.querySelector("#clear-a").innerText.toLowerCase();
        return contentA.localeCompare(contentB);
    });

    rowsArray.forEach(function (row) {
        tbody.appendChild(row);
    });
</script>
</body>
</html>