---
import Banner from '../../../head.astro';
---
<html>
        <head>
          <meta charset="UTF-8">
          <title>AirMech Wiki</title>
          <link rel="icon" href="/images/Addons/mathew_icon.png" type="image">
          <link rel="stylesheet" href="/styles/style.css" type="text/css">
          <link rel="stylesheet" href="/styles/banner-styles.css" type="text/css">
      </head>

<body>
<div id='banner'>
        <Banner />

	</div>
<div id="lineblock">

        </div>

    <div id="index-banner-1">
    
    <h1>Google I/O 2012</h1>
    <hr style="border-color: gray;">
    <br>
</div>
            <div id="index-banner-1">
                <table id="item-left-right">
                    <tr>
                        <th><img src="/assets/item-icons/googleioicon.png"></a> </th>
                        <td>
                Item cost:<br>
                <ul style="list-style-type: none;">
                    <!-- N/A Not Available // <s> strikethrough  -->
                    <li><b>Kudos Price: </b><a style="color: rgb(255, 200, 0)">
                        N/A <s>(300)</s> <!-- Kudos, N/A if not available <s> for strikethrough -->
                    </a> <img src="/assets/kudos.png" style="height: 1em;">
                    </li>
                    <li><b>Diamond Price: </b><a style="color: rgb(155, 232, 255)">
                        N/A <!-- Diamonds, N/A if not available -->
                    </a> <img src="/assets/diamond.png" style="height: 1em;">
                    </li>
                    <li><b>Availability: </b><a style="color: white"> <!-- Item availability, possibly copy-paste lore from wiki. -->
                        Retired. Was available during Google I/O 2012 via NaCl for 2 days
                    </a></li>
                </ul>
                Rarity:
                <!-- <a style="color: lightgray">Common</a> -->
                <!-- <a style="color: rgb(155, 193, 155)">Superior</a> -->
                <!-- <a style="color: rgb(108, 196, 244)">Rare</a> -->
                <!-- <a style="color: rgb(225, 103, 255)">Legendary</a> -->
                <!-- <a style="color: rgb(249, 201, 88)">Ultimate</a> -->
                <a style="color: rgb(240, 217, 150)">Ancient</a><br>
                Type: <a style="color: orange">Pet</a>
                <div id="index-banner-1" class="half"> 
                    <i> <!-- Item's description -->
                    Google I/O 2012 Souvenir.<br>
                    Exclusively available in AirMech for Chrome during Google I/O 2012.
                    </i>
        
                </div>
                </td>
                </tr>
                </table>
            </div>
            

        </div>

        <div id="index-banner-1" class="preview-item" style="text-align: center;">
            Item in-game preview:<br><br>
            <img src="/public/assets/gif-preview/googleio.gif">
        </div>
</body>
</html>