---

---
<table>
            <td id="selection">
                <img src="./images/AirMech Logo/AirMechLogoOutline.png"> <a id="padding1">Wiki</a>
            </td>
            <td id="space1">
    
            </td>
            <td id="selection2">
                <a href="">Home</a>
            </td>
            <td id="selection2">
                <a href="./web/category/items.astro">Items</a>
            </td>
            <td id="selection2">
                <a href="./web/category/pilots.astro">Pilots</a>
            </td>
            <td id="selection2">
                <a href="./web/category/balance.astro">Balance</a>
            </td>
            <td id="selection2">
                <a href="./web/category/misc.astro">Misc.</a>
            </td>
            <td id="selection2">
                <a href="./web/category/bonus.astro">Bonus</a>
            </td>
            <td id="space2">
    
            </td>
            <td id="carbons">
                Assets from Carbon Games<sup>®</sup><br>
                Website made by Mathew
            </td>
        </table>