---

---
<table id="scaled">
    <tr>
            <td id="selection">
                <img src="/images/AirMech Logo/AirMechLogoOutline.png">
            </td>
            <td id="selection3">
                <a id="padding1">Wiki</a>
            </td>
            <td id="space2">
    
            </td>
            <td id="selection2">
                <a href="/">Home</a>
            </td>
            <td id="selection2">
                <a href="/web/category/items">Items</a>
            </td>
            <td id="selection2">
                <a href="/web/category/pilots">Pilots</a>
            </td>
            <td id="selection2">
                <a href="/web/category/balance">Balance</a>
            </td>
            <td id="selection2">
                <a href="/web/category/misc">Misc.</a>
            </td>
            <td id="selection2">
                <a href="/web/category/bonus">Bonus</a>
            </td>
            <td id="carbons">
                Assets from Carbon Games<sup>®</sup><br>
                Website made by Mathew
            </td>
            </tr>
        </table>