---
import Banner from './head.astro';
---
<html>
<head>
    <meta charset="UTF-8">
    <title>AirMech Wiki</title>
    <link rel="icon" href="./images/Addons/mathew_icon.png" type="image">
    <link rel="stylesheet" href="./styles/style.css" type="text/css">
    <link rel="stylesheet" href="./styles/banner-styles.css" type="text/css">
</head>

<body>
<div id='banner'>
        <Banner />

	</div>
	
	


<div id="fullscreen-div" onload="animationbg()"></div>
<div id="logo-positionA" onload="animationA()"><img src="./images/Decor/AirMechLogoCircleCleanA.png"></div>
<div id="logo-positionM" onload="animationB()"><img src="./images/Decor/AirMechLogoCircleCleanM.png"></div>    
<script>
    function animationbg() {
        var x = 1;
    }
    function animationA() {
        var y = 1;
    }
    function animationB() {
        var z = 1;
    }
    if (x = 1, y = 1, z = 1) {
        document.getElementById("fullscreen-div").style.animation = "background-animation-1 3s ease-out";
        document.getElementById("fullscreen-div").style.animationFillMode = "forwards";

        document.getElementById("logo-positionA").style.animation = "up-to-down-logo 2.8s ease-out";
        document.getElementById("logo-positionA").style.animationFillMode = "forwards";

        document.getElementById("logo-positionM").style.animation = "down-to-up-logo 2.8s ease-out";
        document.getElementById("logo-positionM").style.animationFillMode = "forwards";
    }
</script>


<div id="banner-3">
    <video autoplay muted loop playsinline>
        <source src="./videos/test.mp4" type="video/mp4">
    </video>
</div>
<div id="lineblock">

</div>
<div id="empty-path">
    
</div>
</div>
<div id="index-banner-1">
<h2>AirMech FAQ and other notes:</h2>
<hr style="max-width: 300px; margin-left: 0;">
<h3>Where can I give feedback and discuss AirMech?</h3>
AirMech now has a Discord server. <a id="a-select" href="https://discord.gg/AirMech" style="color: orange; text-decoration: none;">https://discord.gg/AirMech</a> The AirMech community gathers here to share their experiences in real time. 
Carbon Developers are looking for your feedback and bug reports to help shape this Reboot. <br>
<br>
Never post private information on Discord. If you need help with your account, please email <a style="color: rgb(255, 194, 50);">support@carbongames.com</a> with as much detail as possible. We cannot discuss or properly track issues for individual users on the Discord server.<br>
<br>
<h3>How do I choose my AirMech and Units?</h3>
Follow the path in Town to find the buildings of interest. You should see your units at the top-left and a pad to the right of it for your AirMech.
<br> <br>
You can bring a total of 32 units with you in battle, with 8 of them active at once. While in a match, you can right-click or use the D-pad to swap individual units in the column. Press 'Tab' to cycle rows.
<br> <br>
Click the top of the AirMech panel to change classes and skins. Right-click on a part slot to automatically choose the best parts you own. Drag and drop to remove an item from any part or cosmetic slots.
<br><br>
<h3>How do I join a game?</h3>
Click the PLAY button at the top of the lobby to get started. The Match tabwill automatically find other suitable players that best match your skill level and geographic location. 
You'll see your partner's AirMech in the lobby when a match has been found. Click the green Ready button to begin seaching for opponents. The match will begin when all players have been found.
<br><br>
Custom Games allow you to customie the match size and play with your friends. You can choose between 1v1, 2v2, or 3v3. Click the orange + icon to invite your friends! You can also browse the list of open lobbies to join other players' custom games. 
Player-made maps that have been published with AirMech Prime can be used in this game mode. Look ofr the Public and Top Maps tabs on the map selection menu.
<br><br>
The Bounty and Challenge buildings allow you to test out strategies and hone your skills in single player. Bounties are a series of 12 AI pilots that progressively increase in difficulty as they unlock. 
Challenges are very short missions designed to improve your basic skills as an AirMech pilot. Can you earn three stars on all challenges? 
Show us your fastest Challenge #12 time on <a style="color: rgb(167, 255, 168); text-decoration: none;">@</a><a id="a-select" href="https://discord.gg/AirMech" style="color: rgb(167, 255, 168); text-decoration: none;">Discord</a>
<br><br>
<h3>I frequently lag in games. How can I prevent this?</h3>
There are various factors that could contribute to lag. The most common of these in AirMech is playing on a server that is not near you. 
You can refresh your list of available servers by typing <a style="color: white;">/latency</a> in chat. 
You'll see the message "Latency data has been updated." when it's complete.
<br><br>
Aside from that, downloading anything while you are trying to play an online game is never a good idea. Try pausing any downloads or bandwidth intensive sites 
that require you to buffer audio/video like Youtube or even some music streaming sites depending on your connection.
<br><br>
<h3>Why is everything boblan's fault?</h3>
Why is the sky blue? Why does the sun rise? Why did the chicken cross the road?
<br> <br>
No matter the answer, the outcome remains the same. The sky is still blue, the sun still rises, the chicken still crossed the road, and it is and always will be boblan's fault.



</div>
<div id="empty-path">
    
</div>
<div id="index-banner-main">
    <div id="table-credits">
<table width="507.2" height="204.8">
    <tr>
        <td width="214">
        &nbsp; &nbsp;Assets from: </td>
        <td width="214.8">
            Website made by:
        </td>
    </tr>
    <tr>
        <td style="padding-top: 30px;">
            <img src="./images/Decor/carbongameslogo.png" alt="Carbon Games Logo" style="width: 100%;">
        </td>
        <td style="padding-top: 30px;">
            <img src="./images/Decor/mathew.png" alt="Mathew [maththenight]" style="width: 50%;">
        </td>
    </tr>
</table>
</div>

</body>
</html>