@keyframes button-highlight-in {
    /* animation: background-animation-1 3s ease-out;
    animation-fill-mode: forwards; */
    0% {
        background-image: url('../images/UI/buttonstrike2.png');
    }
    100% {
        background-image: url('../images/UI/buttonstrike.png');
    }
}
@keyframes button-highlight-out {
    /* animation: background-animation-1 3s ease-out;
    animation-fill-mode: forwards; */
    0% {
        background-image: url('../images/UI/buttonstrike.png');
    }
    100% {
        background-image: url('../images/UI/buttonstrike2.png');
    }
}


#fixed {
    position: fixed;
    padding: 0;
    margin: 0;
}

#banner img {
    min-width: 100px;
    max-width: 10vw;
}

#selection img {
    padding-left: 2vw;
    padding-top: 1vh;
}

#padding1 {
    color: rgb(255, 185, 94);
    font-size: 1vw;
    text-align: left;
}

#banner {
    position: fixed;
    width: 100vw;
    min-height: 5%;
    background-image: url('../images/Decor/RegularBanner2.png');
    color: rgb(255, 185, 94);
}

#transparent-table-banner {
    background: transparent;
}

#carbons {
    font-family: Roboto-Condensed;
    color: rgb(255, 185, 94);
    padding-left: 1vw;
    font-size: 1vw;
    width: 25vw;
    text-align: right;
    padding-right: 30px;

}
#space2 {
    width: 10vw;
}

#selection2 a {
    font-size: 1.4vw; /* Adjust the font size based on the viewport width */
  }

#selection {
    float: left;
}





#selection2 a {
    background-image: url('../images/UI/buttonstrike2.png');
    background-size: 90% 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 40;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 185, 94);
    
}

#selection2 a:hover {
    animation: button-highlight-in 0.5s ease-out;
    animation-fill-mode: forwards;
}
#selection2 a:not(:hover) {
    animation: button-highlight-out 0.5s ease-out;
    animation-fill-mode: forwards;
}

/* #selection2 table td a {
    text-decoration: none;
    border-bottom-style: solid;
    padding: 5px;
    margin: -5px;
    font-size: 10vw;
} */

.half {
    width: 90%;
    flex: auto;
    float: left;
}

