@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/Roboto-Condensed.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    /* Hide scrollbars for IE and Edge */
    -ms-overflow-style: none;
    /* Hide scrollbars for Firefox */
    scrollbar-width: none;
    background-size: 100% 100%;
    font-family: Roboto-Black;
    width: 100%;
    height: 2000px;
    margin: 0;
    padding: 0;
    background-image: url('../images/Decor/RegularBanner3.png');
    z-index: -1;
}

body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
  }

@keyframes background-animation-1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes up-to-down-logo {
    /* A goes from bottom and is in front*/
    0% {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    40% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 1;
    }
    80% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 0;
    } 
}

@keyframes down-to-up-logo {
    /* A goes from bottom and is in front*/
    0% {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    40% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    80% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 0;
    }
}

@keyframes button-highlight-in {
    /* animation: background-animation-1 3s ease-out;
    animation-fill-mode: forwards; */
    0% {
        background-image: url('../images/UI/buttonstrike2.png');
    }
    100% {
        background-image: url('../images/UI/buttonstrike.png');
    }
}
@keyframes button-highlight-out {
    /* animation: background-animation-1 3s ease-out;
    animation-fill-mode: forwards; */
    0% {
        background-image: url('../images/UI/buttonstrike.png');
    }
    100% {
        background-image: url('../images/UI/buttonstrike2.png');
    }
}
#logo-positionA {
    position: fixed; 
    height: auto;
    z-index: 999;
    background-position: center;
    max-width: 100%;
    pointer-events: none;
    display: block;
}
#logo-positionM {
    position: fixed; 
    height: auto;
    z-index: 998;
    background-position: center;
    max-width: 100%;
    pointer-events: none;
    display: block;
}

#fullscreen-div {
    width: 100%;
    height: 100%;
    background-image: url('../images/Decor/LoadingBigBack.png'); 
    position: fixed; 
    background-position: center;
    z-index: 997;
    pointer-events: none;
    display: block;
}

#banner-3 video {
    background-image: url('../images/Decor/RegularBanner.png');
    text-align: center;
    width: 100%;
    height: 200px;
    pointer-events: none;
}

#banner-3 {
    padding: 0;
    margin: 0;
}

#banner-3 video {
    width: 100%;
    height: 500px;
}

#lineblock {
    width: 100%;
    height: 60px;
    background-image: url('../images/Decor/RegularBanner.png');
    padding: 0;
    margin: 0;
}

/* default space between major topics */
#empty-path {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#empty-path img {
    width: 40vw;
    min-height: 10vh;
}


/* all of the above so far was template ids */

#index-banner-main {
    background-image: url(../images/Decor/RegularBanner.png);
    max-width: 100%;
    height: auto;
    color: gray;
    font-family: Roboto-Light;

    /* temporary */
    text-align: center;
}

#padded {
    padding-top: 2vh;
}

#index-banner-main img {
    padding-top: 2vh;
    max-width: 70%;
}
#index-banner-main h3,h2,h1,h4 {
    color: white;
}

#index-banner-1 {
    background-image: url(../images/Decor/RegularBanner.png);
    height: auto;
    color: gray;
    font-family: Roboto-Light;

    padding: 20px;
    margin-top: 10px;
    text-align: left;
}

#item-left-right tr {
    width: 100%;
}


#item-left-right {
    width: 90%;
    font-size: 2.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0;
    padding-bottom: 1vh;
}


#index-banner-1 h3,h2,h1,h4 {
    color: white;
}

#table-credits {
    background-image: url('../images/UI/messagebox.png');
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
    height: 30vh;
    font-family: Roboto-Regular;
    width: 50vw;
}
#table-credits table {
    width: 100%;
    table-layout: fixed;
}
#table-credits img {
    height: 90%;
    padding-top: -3vh;
    width: 10vw;
}

@keyframes a-highlight-in {
    0% {
        background-color: rgba(0,0,0,0);
    }
    100% {
        background-color: rgba(112, 236, 255, 0.2)
    }
}

@keyframes a-highlight-out {
    0% {
        background-color: rgba(112, 236, 255, 0.2)
    }
    100% {
        background-color: rgba(0,0,0,0);
    }
}

#a-select:hover {
    animation: a-highlight-in 0.001s ease-out;
    animation-fill-mode: forwards;
}

#a-select:not(:hover) {
    animation: a-highlight-out 0.001s ease-out;
    animation-fill-mode: forwards;
}

#clear-a {
    text-decoration: none;
    color: gray;
    font-size: 110%;
}
#clear-a:hover {
    animation: a-highlight-in 0.001s ease-out;
    animation-fill-mode: forwards;
}

#clear:not(:hover) {
    animation: a-highlight-out 0.001s ease-out;
    animation-fill-mode: forwards;
}

#list-items img {
    padding: 5%;
    background-position: center;
    background-image: url(../assets/itemframe.png);
	background-size: cover;
}
#list-items img {
min-height: 10%;
max-height: 70%;
min-width: 10%;
max-width: 50%;
}

#clear-b {
    text-decoration: none;
    color: gray;
    font-family: Roboto-Condensed;
}

#item-left-right {
    width: 100%;
}
#item-left-right tr td{
    width: 50%;
}