@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/Roboto-Condensed.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    /* Hide scrollbars for IE and Edge */
    -ms-overflow-style: none;
    /* Hide scrollbars for Firefox */
    scrollbar-width: none;

    background-image: url(../images/Decor/RegularBanner2.png);
    background-size: 100% 100%;
    background-color: rgb(255, 255, 255);
    font-family: Roboto-Black;
    width: 100%;
    height: 2000px;
    margin: 0;
    padding: 0;
    z-index: -1;
}

body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
  }

@keyframes background-animation-1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes up-to-down-logo {
    /* A goes from bottom and is in front*/
    0% {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    40% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 1;
    }
    80% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 0;
    } 
}
@keyframes down-to-up-logo {
    /* A goes from bottom and is in front*/
    0% {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    40% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    80% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 0;
    }
}

@keyframes button-highlight-in {
    /* animation: background-animation-1 3s ease-out;
    animation-fill-mode: forwards; */
    0% {
        background-image: url('../images/UI/buttonstrike2.png');
    }
    100% {
        background-image: url('../images/UI/buttonstrike.png');
    }
}
@keyframes button-highlight-out {
    /* animation: background-animation-1 3s ease-out;
    animation-fill-mode: forwards; */
    0% {
        background-image: url('../images/UI/buttonstrike.png');
    }
    100% {
        background-image: url('../images/UI/buttonstrike2.png');
    }
}
#logo-positionA {
    position: fixed; 
    height: auto;
    z-index: 999;
    background-position: center;
    max-width: 100%;
    animation: up-to-down-logo 2.8s ease-out;
    animation-fill-mode: forwards;
    pointer-events: none;
    display: block;
}
#logo-positionM {
    position: fixed; 
    height: auto;
    top: 0%;
    left: 30%;
    z-index: 998;
    background-position: center;
    max-width: 100%;
    animation: down-to-up-logo 2.8s ease-out;
    animation-fill-mode: forwards;
    pointer-events: none;
    display: block;
}

#fullscreen-div {
    width: 100%;  
    height: 100%;
    background-image: url('../images/Decor/LoadingBigBack.png'); 
    position: fixed; 
    background-position: center;
    z-index: 997;
    animation: background-animation-1 3s ease-out;
    animation-fill-mode: forwards;
    pointer-events: none;
}

#banner {
    position: fixed;
    /* top: 0; */
    z-index: 20;
}

#banner img {
    width: 150px;
    height: 100%;
}

#banner {
    height: 60px;
    width: 100%;
    background-image: url('../images/Decor/RegularBanner2.png');
    color: rgb(255, 185, 94);
}

#carbons {
    font-family: Roboto-Condensed;

}

#space1 {
    width: 10%;
}
#space2 {
    width: 10%;
}
#selection2 a {
    background-image: url('../images/UI/buttonstrike2.png');
    background-size: 90% 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-position: center;
    background-repeat: no-repeat;
    width: 1%;
    height: 100%;
    z-index: 40;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 185, 94);
}

#selection2 a:hover {
    animation: button-highlight-in 0.5s ease-out;
    animation-fill-mode: forwards;
}
#selection2 a:not(:hover) {
    animation: button-highlight-out 0.5s ease-out;
    animation-fill-mode: forwards;
}

#selection2 table {
    text-align: right;
    width: 70%;
}

#banner td {
    border-collapse: collapse;
    flex: 1;
}

#selection2 table {
    width: 120%;
}
#selection2 table td a {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 185, 94, 0);
    border-bottom-width: 3px;
    padding: 5px;
    margin: -5px;
    text-align: center;
}

#banner-3 video {
    background-image: url('../images/Decor/RegularBanner.png');
    text-align: center;
    width: 100%;
    height: 200px;
    pointer-events: none;
}

#banner-3 video {
    width: 100%;
    height: 500px;
}

#banner-3 {
    background-image: url('../images/Decor/RegularBanner.png');
    padding: 0;
    margin: 0;
}

#lineblock {
    width: 100%;
    height: 20px;
    background-image: url('../images/Decor/RegularBanner.png');
    padding: 0;
    margin: 0;
}

#template-banner {
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* all of the above so far was template ids */