@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf');
}


body {
    flex: 1;
    background-color: rgb(255, 255, 255);
    font-family: Roboto-Black;
    margin: 0;
    z-index: 0;
}


#banner {
    position: sticky;
    top: 0;
    z-index: 2;
}

#banner img {
    width: 50%;
    height: 100%;
}

#banner table {
    border-collapse: collapse;
    height: 10px;
    width: 100%;
    background-color: rgba(112, 112, 112, 0.162);
}

#selection {
    padding-left: 30px;
    padding-right: 30px;
} 

#banner td {
    border-collapse: collapse;
    border: 3px rgba(0, 0, 0, 0.067);
    border-style: dashed;
    width: 35%;
}